.spacer {
  flex: 1 1 auto;
}
main {
  // width: 200px;
  // height: 400px;
}
footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  // z-index: 1030;
}

mat-grid-list {
  margin: 2em;
}

.grid-tile {
  border-radius: 0.2em;
  background-color: black;
  color: white;
  font-size: large;
}



@media screen and (min-width: 60em) {
  .hidden-md {
    display: none;
  }
}
@media screen and (max-width: 60em) {
  .hidden-sm {
    display: none;
  }
}
