.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}
.dashboard-area {
  background-color: #eee;
  overflow-y: scroll;
}
.dashboard-area span {
  font-size: small;
}
mat-list {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}
mat-grid-tile {
  color: black
}
