<div
  [ngStyle]="{ height: screenHeight - 150 + 'px' }"
  fxLayout="column"
  fxFlexAlign="center space-around"
  fxLayoutGap="2em"
  class="dashboard-area"
>
  <mat-card>
    <mat-card-content>
      <div fxLayout="column" fxLayoutAlign="center center">
        <span>12,000</span>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1em">
          <button mat-raised-button mdbBtn color="primary" mdbWavesEffect>
            Fund Wallet
          </button>
          <button mat-raised-button mdbBtn color="warn" mdbWavesEffect>
            Withdraw
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <mat-list>
        <div
          fxLayout="row"
          fxLayoutAlign="space-between center"
          fxLayoutGap="1em"
        >
          <span>Transfer from Zenith to Nigeria</span>
          <span>N3000</span>
        </div>
      </mat-list>
      <mat-list>
        <div
          fxLayout="row"
          fxLayoutAlign="space-between center"
          fxLayoutGap="1em"
        >
          <span>Transfer from Zenith to Nigeria</span>
          <span>N3000</span>
        </div>
      </mat-list>
      <mat-list>
        <div
          fxLayout="row"
          fxLayoutAlign="space-between center"
          fxLayoutGap="1em"
        >
          <span>Transfer from Zenith to Nigeria</span>
          <span>N3000</span>
        </div>
      </mat-list>
      <mat-list>
        <div
          fxLayout="row"
          fxLayoutAlign="space-between center"
          fxLayoutGap="1em"
        >
          <span>Transfer from Zenith to Nigeria</span>
          <span>N3000</span>
        </div>
      </mat-list>
      <mat-list>
        <div
          fxLayout="row"
          fxLayoutAlign="space-between center"
          fxLayoutGap="1em"
        >
          <span>Transfer from Zenith to Nigeria</span>
          <span>N3000</span>
        </div>
      </mat-list>
      <mat-list>
        <div
          fxLayout="row"
          fxLayoutAlign="space-between center"
          fxLayoutGap="1em"
        >
          <span>Transfer from Zenith to Nigeria</span>
          <span>N3000</span>
        </div>
      </mat-list>
      <mat-list>
        <div
          fxLayout="row"
          fxLayoutAlign="space-between center"
          fxLayoutGap="1em"
        >
          <span>Transfer from Zenith to Nigeria</span>
          <span>N3000</span>
        </div>
      </mat-list>
      <mat-list>
        <div
          fxLayout="row"
          fxLayoutAlign="space-between center"
          fxLayoutGap="1em"
        >
          <span>Transfer from Zenith to Nigeria</span>
          <span>N3000</span>
        </div>
      </mat-list>
      <mat-list>
        <div
          fxLayout="row"
          fxLayoutAlign="space-between center"
          fxLayoutGap="1em"
        >
          <span>Transfer from Zenith to Nigeria</span>
          <span>N3000</span>
        </div>
      </mat-list>
      <mat-list>
        <div
          fxLayout="row"
          fxLayoutAlign="space-between center"
          fxLayoutGap="1em"
        >
          <span>Transfer from Zenith to Nigeria</span>
          <span>N3000</span>
        </div>
      </mat-list>
      <mat-list>
        <div
          fxLayout="row"
          fxLayoutAlign="space-between center"
          fxLayoutGap="1em"
        >
          <span>Transfer from Zenith to Nigeria</span>
          <span>N3000</span>
        </div>
      </mat-list>
      <mat-list>
        <div
          fxLayout="row"
          fxLayoutAlign="space-between center"
          fxLayoutGap="1em"
        >
          <span>Transfer from Zenith to Nigeria</span>
          <span>N3000</span>
        </div>
      </mat-list>
      <mat-list>
        <div
          fxLayout="row"
          fxLayoutAlign="space-between center"
          fxLayoutGap="1em"
        >
          <span>Transfer from Zenith to Nigeria</span>
          <span>N3000</span>
        </div>
      </mat-list>
      <mat-list>
        <div
          fxLayout="row"
          fxLayoutAlign="space-between center"
          fxLayoutGap="1em"
        >
          <span>Transfer from Zenith to Nigeria</span>
          <span>N3000</span>
        </div>
      </mat-list>
      <mat-list>
        <div
          fxLayout="row"
          fxLayoutAlign="space-between center"
          fxLayoutGap="1em"
        >
          <span>Transfer from Zenith to Nigeria</span>
          <span>N3000</span>
        </div>
      </mat-list>
      <mat-list>
        <div
          fxLayout="row"
          fxLayoutAlign="space-between center"
          fxLayoutGap="1em"
        >
          <span>Transfer from Zenith to Nigeria</span>
          <span>N3000</span>
        </div>
      </mat-list>
      <mat-list>
        <div
          fxLayout="row"
          fxLayoutAlign="space-between center"
          fxLayoutGap="1em"
        >
          <span>Transfer from Zenith to Nigeria</span>
          <span>N3000</span>
        </div>
      </mat-list>
      <mat-list>
        <div
          fxLayout="row"
          fxLayoutAlign="space-between center"
          fxLayoutGap="1em"
        >
          <span>Transfer from Zenith to Nigeria</span>
          <span>N3000</span>
        </div>
      </mat-list>
      <mat-list>
        <div
          fxLayout="row"
          fxLayoutAlign="space-between center"
          fxLayoutGap="1em"
        >
          <span>Transfer from Zenith to Nigeria</span>
          <span>N3000</span>
        </div>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
